:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

@media (min-width: 1920px) and (max-width: 1920px) {
  :root {
    font-size: 16px;
  }
}

input{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

textarea{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: inherit;
  color: rgba(64,64,64,1);
}

#app{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}

body {
  margin: 0;
  min-height: 100vh;
  color: rgba(64,64,64,1);
}

@media (prefers-color-scheme: light) {
  
}

/**测试 */
.t-bg{
  background: rgb(0,0,0);
}
.t-b{
  border: rgba(0,0,0,1) 2px dashed;
  box-sizing: border-box;
}

/**选中禁止 */ 
.u-s-t-n{
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/**提交中 */
.u-b-s{
  pointer-events: none;
  opacity: .75;
}

/**超出的文字省略 */
.o-t-e{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

/**像素字体 */
@font-face {
  font-family: Uranus_Pixel;
  src: url("/font/Uranus_Pixel_11Px.ttf");
}